<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descarga de Archivos de Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/archivos.css')}}">
</head>
<body>
    <div class="container">
        <h1>Descarga tus archivos de inicio de sesión</h1>
        <div class="file-container">
            <a href="{{ url_for('Certificate',archivo=archivo)}}">
                <div class="file">
                    <span class="file-name">Certificado.cer</span>
                    <span class="file-download">Descargar</span>
                </div>
            </a>
            <a href="{{ url_for('PrivateKey',archivo=archivo)}}" download>
                <div class="file">
                    <span class="file-name">Llave.key</span>
                    <span class="file-download">Descargar</span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
