<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio De Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/isesión.css')}}">
</head>
<body>
    <a href="/" class="Pprincipal">
        <button>Volver a la Página Principal</button>
    </a>
    <section>
        <form>
            <h1>Inicio</h1>
            <div class="input">
                <ion-icon name="usuario"></ion-icon>
                <input type="usuario" required>
                <label for="">Usuario</label>
            </div>
            <div class="input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" required>
                <label for="">Contraseña</label>
            </div>
            <div class="recordar">
                <label for=""><input type="checkbox">Recordar</label>
                <a href="#">Olvidé la contraseña</a>
            </div>
            <button>Iniciar</button>
            <div class="registro">
                <p>No tengo una cuenta <a href="#">Regístrate</a></p>
            </div>
        </form>
    </section>
</body>
</html>
