<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pprincipal.css') }}">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">PIA - Criptografia</a>
        <nav class="navbar">

            <ul>
                <a href="/">Inicio</a>
                <a href="/integrantes">Integrantes</a>
                <a href="/register">Registro</a>
                <a href="/login">Inicio de sesión</a>
            </ul>
        </nav>

        <div class="wraper-icons">
            <i class="bx bx-user hover-icons" id="user-icon"></i>
            <span class="vertical-line"></span>
            <i class="bx bx-cart hover icons" id="cart-icon"></i>
        </div>

    </header>

    <script scr="script.js"></script>
</body>
</html>
