<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/integrantes.css')}}">
</head>
<body>
    <header>
        <h1>INTEGRANTES</h1>
    </header>
    <main>
        <section class="integrante">
            <h2>Alberto Armando Alanis Rocha</h2>
            <p>Maricula:1814691</p>
        </section>
        <section class="integrante">
            <h2>Raul Alejandro Rios Turrubiates</h2>
            <p>Maricula:2132823</p>
        </section>
        <section class="integrante">
            <h2>Jesús Kenneth Maurizio Martinez</h2>
            <p>Maricula:1875474</p>
        </section>
        <section class="integrante">
            <h2>Ángel Adrian Alvarez Flores</h2>
            <p>Maricula:2050690</p>
        </section>
        <section class="integrante">
            <h2>Alejandra Zarate Sánchez</h2>
            <p>Maricula:2132946</p>
        </section>
    </main>
</body>
</html>