<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notas Guardadas</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/Guardada.css')}}">
</head>
<body>
<div class="container">
  <form class="menud" method="post">
    <select class="btn" name="metodo" id="metodo">
      <option>Notas Fernet</option>
      <option>Mensaje Encriptado Fernet</option>
      <option>Notas RSA</option>
      <option>Mensaje encriptado RSA</option>
      <option>Notas césar</option>
      <option>Mensaje encriptado césar</option>
    </select>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>
<a href="notas.html" class="regresar">Regresar</a>
<script>
  var men = "{{ mensaje }}";
  if(men != ""){
    alert(men)
  }
</script>
</body>
</html>
