<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio De Sesión</title>
    <link rel="stylesheet" href="/static/css/olvide.css">
</head>
<body>
    <a href="/" class="Pprincipal">
        <button>Volver a la Página Principal</button>
    </a>
    <section>
        <form>
            <h1>Inicio</h1>
            <div class="input">
                <ion-icon name="usuario"></ion-icon>
                <input type="email" required>
                <label for="">Introduce tu email</label>
            </div>
            <button>Enviar Correo electronico</button>
            <div class="registro">
                <p>¿Ya tienes una cuenta? <a href="/login">Inicia Sesión</a></p>
            </div>
        </form>
    </section>
</body>
</html>
